<div class="new comment">
  <% unless can? :manage, @listing %>
    <%= render :partial => 'comments/comment_form' %>
  <% end %>
</div>
<hr>
<% @listing.comments.each do |c| %>
  <div class="show comment">
    <b><%= link_to c.user.name, user_path(c.user_id) %> says: </b><br>
    <%= c.body %><br>
    <%= c.created_at.to_formatted_s(:long) %>
    <hr>
  </div>
<% end %>
