<%= form_for [@commentable, Comment.new] do |f| %>
  <div class="field">
    <%= f.label :body, "Add a New Comment" %><br>
    <%= f.text_area :body %><br>
  </div>

  <%= f.submit "Add Comment" %><br>
  <% end %>
