<div class="new comment">
  <%= render :partial => 'comments/comment_form' %>
</div>
<hr>
<% @listing.comments.each do |c| %>
  <div class="show comment">
    <b><%= c.user.name %> says: </b><br>
    <%= c.body %><br>
    <%= c.created_at.to_formatted_s(:long) %>
    <hr>
  </div>
<% end %>
