<% @listings.each do |list| %>
  <div class='single-listing'>
    <%= link_to listing_path(list) do %>
      <br><%= list.name %>
      <br><%= image_tag list.thumbnail %>
      <br><%= list.location %>
    <% end %>
  </div>
<% end %>
