<h1>Listing <%= @listing.id %></h1>
<div class="info">
  <%# @lisitng.photo %>
  <%= @listing.name %><br>
</div>
<div class="about_me">
  <%= @listing.description %>
</div>

<hr>

<div class="comment">
  <%= render 'comments/_comment_form.html.erb' %>

</div>
