<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="mailer">
      Hi <%= @user.name %>, you have a new message at Homes4Queers

    </div>
  </body>
</html>
