<h1>Everyone</h1>
<% if @users.any? %>
  <% @users.each do |usr| %>
  <div class="user">
    <%= image_tag usr.avatar %><br>
    <%= link_to usr.name, user_path(usr) %>
  </div>

  <% end %>
<% end %>
